@font-face {
  font-family: "Script12";
  src: url("../resources/script12bt/scrpt12n.ttf")
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  color: #000000 !important;
}
li a:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

button {
  color: #000000 !important;
}
button:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.material-icons:hover {
  color: #000000 !important;
}
.btn-floating:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.navbar-fixed {
    box-shadow: none;
    border: none;
}

.title {
    margin: 1em 0;
    border-bottom: 0.1em double #c9c9c9;
    font-family: Script12, Arial sans-serif;
    font-size: 3em;
    font-weight: bolder;
    color: #000000;
}
.title:hover {
    color: #d9d9d9;
}

.label {
  margin: 1em 0;
  border-bottom: 0.25em solid #c9c9c9;
  font-size: 1.5em;
  font-weight: bolder;
}
.label:hover {
  border-bottom: 0.25em solid #000000;
  background-color: #c9c9c9;
  color: #ffffff;
}

.modal_label {
  margin: 1em 0;
  font-size: 1.75em;
  font-weight: bolder;
}

.button_label {
    margin-left: 1em;
    border-bottom: 0.1em solid #c9c9c9;
    color: #000000;
    font-size: 1.25em
}

.circle {
  margin-bottom: 1em;
}

.btn-large {
  margin-bottom: 1em;
}

#prediction {
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

#prediction_button {
    margin-top: 1em;
}

#page_header {
    text-align: center;
}

#page_footer {
    position: relative;
    bottom: 1em;
    text-align: right;
    font-size: 0.65em;
    color: #c9c9c9;
}

.indicator-item {
    background-color: #d9d9d9 !important;
}
.indicator-item.active {
    background-color: #000000 !important;
}
