html {
  font-family: Arial, Helvetica, sans-serif;
}

li a {
  color: #000000 !important;
}
li a:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

button {
  color: #000000 !important;
}
button:hover {
  background-color: #000000 !important;
  color: #ffffff !important;
}

img {
    max-height: 200px !important;
}

.title {
    margin: 1em 0;
    border-bottom: 0.1em double #c9c9c9;
    font-size: 2em;
    font-weight: bolder;
    font-style: oblique;
    color: #ffffff;
}
.title:hover {
    color: #d9d9d9;
}

.label {
  margin: 1em 0;
  border-bottom: 0.25em solid #c9c9c9;
  font-size: 1.5em;
  font-weight: bolder;
}
.label:hover {
  border-bottom: 0.25em solid #000000;
  background-color: #c9c9c9;
  color: #ffffff;
}

.button_label {
    border-bottom: 0.1em solid #c9c9c9;
    color: #000000;
}

.circle {
  margin-bottom: 1em;
}

#prediction {
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}

#prediction_button {
    margin-top: 1em;
}

#page_footer {
    position: absolute;
    bottom: 0;
    font-size: 0.65em;
    color: #c9c9c9;
}

.carousel-slider {
    height: 60vh !important;
}

.indicator-item {
    background-color: #d9d9d9 !important;
}
.indicator-item.active {
    background-color: #000000 !important;
}
